.input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
}

.input select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.Gallery-img {
  margin: 20px 10%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.gallery img {
  width: 200px;
  height: auto;
  object-fit: cover;
}
